.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

.spinner {
  border: 5px solid #2c4152;
  border-left-color: white; /* Adjust spinner color here */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

.error-container {
  background-color: #ffe6e6; /* Light red background */
  border: 1px solid #ff4d4d; /* Red border */
  border-radius: 5px; /* Rounded corners */
  padding: 10px; /* Padding for space around the message */
  margin-bottom: 10px; /* Margin to separate from other elements */
}

.error-message {
  color: #ff4d4d; /* Red color for error message */
  font-size: 14px; /* Adjust font size as needed */
  font-weight: bold; /* Bold font weight for emphasis */
}


@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
